<div id="<%= dom_id project %>">
  <p>
    <strong>Title:</strong>
    <%= project.title %>
  </p>

  <div>
  <% project.tags.each do |tag|%>
    <span><%= tag.name %></span>
  <% end %>
  </div>

</div>
