.select7-container {
    position: relative;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.select7-selected-container {
    display: flex;
    justify-content: flex-start;
}

.select7-selection {
    margin-top: 0.5rem;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    border-radius: 0.375rem;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(229 231 235 / var(--tw-border-opacity));
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    outline: 2px solid transparent;
    outline-offset: 2px;
}


.select7-selected {
    display: flex;
    justify-content: flex-start;
}

.select7-input {
    border-style: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.select7-suggestion {
    position: absolute;
    left: 0px;
    z-index: 50;
    height: 5rem;
    width: 100%;
    border-left-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgb(229 231 235 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    --tw-drop-shadow: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}


.select7-option-item {
    width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.select7-option-item:hover {
    background-color: rgb(229 231 235);
    cursor: pointer;
}

.select7-selected-item {
    margin-right: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.375rem;
    border-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219 / var(--tw-border-opacity));
    padding-left: 0.25rem;
}

.select7-item-close {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    margin-left: 0.25rem;
    text-align: center;
    font-size: 0.75rem;
    line-height: 1rem;
    border-left-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219 / var(--tw-border-opacity));
}

.select7-item-close:hover {
    background-color: rgb(229 231 235);
    cursor: pointer;
}

.select7-hidden {
    display: none !important;
}

.select7-invisible {
    visibility: hidden;
}

.select7-visible {
    visibility: visible;
}