.select7-container {
    position: relative;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    font-size: 1.0rem;
}

.select7-selected-container {
    display: flex;
    justify-content: flex-start;
}

.select7-selection {
    margin-top: 0.5rem;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    border: solid rgb(229 231 235 / var(--tw-border-opacity));
    border-width: 1px;
    --tw-border-opacity: 1;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.select7-selected {
    display: flex;
    justify-content: flex-start;
}

.select7-input {
    border-style: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
    font-size: 1.0rem;
}

.select7-suggestion {
    position: absolute;
    left: 0px;
    z-index: 50;
    height: 5rem;
    width: 100%;
    margin-top: -2px;
    border: solid rgb(229 231 235 / var(--tw-border-opacity));
    border-width: 0 1px 1px;
    --tw-border-opacity: 1;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.select7-option-item {
    width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.select7-option-item:hover {
    background-color: rgb(229 231 235);
    cursor: pointer;
}

.select7-selected-item {
    margin-right: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.2rem;
    padding: 0.25rem;
    background-color: #d9e1e1;
}

.select7-item-close {
    padding: 0.25rem;
    margin-left: 0.25rem;
    text-align: center;
    line-height: 1.0rem;
}

.select7-item-close:hover {
    background-color: rgb(242, 242, 244);
    cursor: pointer;
}

.select7-hidden {
    display: none !important;
}

.select7-invisible {
    visibility: hidden;
}

.select7-visible {
    visibility: visible;
}